* {
    background:         #21222b;
    background-alt:     #dadbd4;
    foreground:         #dadbd4;
    selected:           #A0A29D;
    active:             #898C8E;
    urgent:             #797E81;
}
