* {
    background:         #0f0e11;
    background-alt:     #dbdbdb;
    foreground:         #dbdbdb;
    selected:           #877068;
    active:             #6F6E70;
    urgent:             #4A4A4D;
}
