* {
    background:         #090311;
    background-alt:     #a7cbdc;
    foreground:         #a7cbdc;
    selected:           #EA9A6B;
    active:             #DF694F;
    urgent:             #C13A2F;
}
